@import "tailwindcss";

@theme {
  --font-sans: "Inter", "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", sans-serif;
  --color-system-black: #000000;
  --color-system-white: #ffffff;
  --color-system-grey-100: #f4f4f5;
  --color-system-grey-200: #e4e4e7;
  --color-system-grey-400: #a1a1aa;
  --color-system-grey-500: #71717a;
  --color-system-grey-900: #18181b;
}

@layer base {
  body {
    @apply bg-system-white text-system-black antialiased selection:bg-system-black selection:text-system-white font-sans;
  }

  input, button {
    @apply transition-all duration-200 ease-in-out outline-none;
  }
}
